<!DOCTYPE html>
<html>
<head>
  <title>Rails mdl admin</title>
  <%= stylesheet_link_tag    "rails_mdl_admin/application", media: "all" %>
  <%= javascript_include_tag "rails_mdl_admin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
